.git/
.vscode/
__pycache__/
*.pyc

main/checkpoints/
main_DP/checkpoints/
main_DP/main/checkpoints/
runs/
main_DP/runs/
temp/
vehicle_vis/

main_DP/cpp_demo/build/
main_DP/third_party/matplotlib-cpp-master/build/
main_DP/third_party/matplotlib-cpp-master/examples/*.png
main_DP/third_party/matplotlib-cpp-master/examples/*.gif

old_code.zip
rl_dp_test.png
grid_obstacles.png
main_DP/grid_obstacles.png

*.pt
*.onnx
